#CloudCalendar
  /*全句背景色*/
  background-color #EEEEEE
  a
    text-decoration none

.cal-head
  position relative
  height 20px
  padding 8px 6px 2px 6px

.cal-prev,.cal-next
  position absolute
  top 9px
  width 9px
  height 10px
  padding 3px 4px
  border 1px solid transparent
  color #fff
  outline 0


/*上下页箭头*/
.cal-prev
  left 8px
  &:before
    border-right 9px solid #333

.cal-next
  right 8px
  &:before
    border-left 9px solid #333

.cal-prev:before,.cal-next:before
  content ''
  display block
  width 0
  height 0
  border-top 5px solid transparent
  border-bottom 5px solid transparent

.cal-title
  width 120px
  margin 0 auto
  color #808080
  font bold 14px/18px Arial
  text-align center
  a
    border 1px solid transparent
    /*年份颜色*/
    color color-link

.cal,
.cal th,
.cal td
  border 1px solid #eee

.cal
  border-collapse separate
  border-spacing 0
  border-width 1px 0 0 1px
  table-layout fixed
  width 100%
  margin 0
  th
    /*星期颜色*/
    color color-link
    border-width 0 1px 1px 0
    font-weight 700
  td
    border-width 0 1px 1px 0
  tbody
    a
      /*有提交的天*/
      background-color #BAF786
      color #ffffff
      display block
      border-bottom 0px solid transparent
      font-weight 700
    .cal-today
      /*今天*/
      color #A722FF
      font-weight bold
  .cal-gray
    /*没提交的天*/
    color #808080

.cal th,
.cal td
  font-weight normal
  line-height 2.5625
  padding 0
  text-align center

.cal .cal-foot
  /*底栏箭头切换月*/
  color color-link

.cal-title a:hover,
.cal-prev:hover,
.cal-next:hover,
.cal .cal-foot:hover,
.cal .cal-foot:focus
  /*底栏箭头切换月-鼠标覆盖*/
  background-color color-link
  color #fff
  cursor pointer

/*鼠标覆盖后的颜色*/
.cal tbody a:hover,
.cal tbody a:focus
  background-color #68DC6E
  color #fff
  cursor pointer
